<div class="main">
    <mat-card>
        <mat-card-title>Benutzer</mat-card-title>
        <ng-container *ngIf="user">
            <mat-card-subtitle>{{ user.id }}</mat-card-subtitle>
            <mat-card-content>
                {{ user.firstName }} {{ user.lastName }} <br>
                {{ user.street }} <br>
                {{ user.postalCode }} {{ user.city }} <br>
                {{ user.email }}
            </mat-card-content>
        </ng-container>
    </mat-card>
    <mat-card *ngIf="user">
        <mat-card-title>Offene Bestellungen</mat-card-title>
            <mat-card-subtitle>Bestellt und noch nicht verschickt</mat-card-subtitle>
            <mat-card-content>
                {{ user.firstName }} {{ user.lastName }} <br>
                {{ user.street }} <br>
                {{ user.postalCode }} {{ user.city }} <br>
                {{ user.email }}
            </mat-card-content>
    </mat-card>
    <mat-card  *ngIf="user">
        <mat-card-title>Geschlossene Bestellungen</mat-card-title>
        <mat-card-subtitle>Bestellt und verschickt</mat-card-subtitle>
        <mat-card-content>
            {{ user.firstName }} {{ user.lastName }} <br>
            {{ user.street }} <br>
            {{ user.postalCode }} {{ user.city }} <br>
            {{ user.email }}
        </mat-card-content>
    </mat-card>
</div>