<div class="main">
    <mat-card>
        <mat-card-title>Benutzer</mat-card-title>
        <ng-container *ngIf="user">
            <mat-card-subtitle>{{ user.id }}</mat-card-subtitle>
            <mat-card-content>
                {{ user.firstName }} {{ user.lastName }} <br>
                {{ user.street }} <br>
                {{ user.postalCode }} {{ user.city }} <br>
                {{ user.email }}
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="warn" (click)="userService.logout()">Ausloggen</button>
            </mat-card-actions>
        </ng-container>
    </mat-card>
    <mat-card *ngIf="openOrders">
        <mat-card-title>Offene Bestellungen</mat-card-title>
        <mat-card-subtitle>Bestellt und noch nicht verschickt</mat-card-subtitle>
        <mat-card-content>
            <table mat-table [dataSource]="openOrders">
                <ng-container matColumnDef="orderNumber">
                    <th mat-header-cell *matHeaderCellDef> Bestellnummer </th>
                    <td mat-cell *matCellDef="let element"> {{element.number}} </td>
                </ng-container>
                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef> Bestellt </th>
                    <td mat-cell *matCellDef="let element"> {{element.updated | date : 'dd.MM.yyyy'}} um {{element.updated | date : 'HH:mm'}} Uhr </td>
                </ng-container>
                <ng-container matColumnDef="totalPrice">
                    <th mat-header-cell *matHeaderCellDef> Preis </th>
                    <td mat-cell *matCellDef="let element"> CHF {{element.total | number : '1.2-2' : 'de-CH'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="'/order/' + row.number"></tr>
            </table>
        </mat-card-content>
    </mat-card>
    <mat-card  *ngIf="sentOrders">
        <mat-card-title>Geschlossene Bestellungen</mat-card-title>
        <mat-card-subtitle>Bestellt und verschickt</mat-card-subtitle>
        <mat-card-content>
            <table mat-table [dataSource]="sentOrders">
                <ng-container matColumnDef="orderNumber">
                    <th mat-header-cell *matHeaderCellDef> Bestellnummer </th>
                    <td mat-cell *matCellDef="let element"> {{element.number}} </td>
                </ng-container>
                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef> Verschickt </th>
                    <td mat-cell *matCellDef="let element"> {{element.updated | date : 'dd.MM.yyyy'}} um {{element.updated | date : 'HH:mm'}} Uhr </td>
                </ng-container>
                <ng-container matColumnDef="totalPrice">
                    <th mat-header-cell *matHeaderCellDef> Preis </th>
                    <td mat-cell *matCellDef="let element"> CHF {{element.total | number : '1.2-2' : 'de-CH'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="'/order/' + row.number"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>