<div class="main">
    <mat-card>
        <mat-card-title>{{ finalOrder ? 'Abgeschlossene Bestellung' : 'Bestellvorschau' }}</mat-card-title>
        <ng-container *ngIf="order">
            <mat-card-subtitle *ngIf="order.number">Bestellnummer: {{ order.number }}</mat-card-subtitle>
            <mat-card-content>
                <p>
                    {{ order.user.firstName }} {{ order.user.lastName }} <br>
                    {{ order.user.street }} <br>
                    {{ order.user.postalCode }} {{ order.user.city }} <br>
                    {{ order.user.email }}
                </p>
                <table mat-table [dataSource]="order.positions">
                    <ng-container matColumnDef="productNumber">
                        <th mat-header-cell *matHeaderCellDef> Artikelnr. </th>
                        <td mat-cell *matCellDef="let element"> {{element.productNumber}} </td>
                        <td mat-footer-cell *matFooterCellDef><b>Total</b></td>
                    </ng-container>
                    <ng-container matColumnDef="productName">
                        <th mat-header-cell *matHeaderCellDef> Artikel </th>
                        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="productPrice">
                        <th mat-header-cell *matHeaderCellDef> Preis Einzeln </th>
                        <td mat-cell *matCellDef="let element"> CHF {{element.productPrice | number : '1.2-2' : 'de-CH'}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="count">
                        <th mat-header-cell *matHeaderCellDef> Anzahl </th>
                        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="totalPrice">
                        <th mat-header-cell *matHeaderCellDef> Preis Total </th>
                        <td mat-cell *matCellDef="let element"> CHF {{element.total | number : '1.2-2' : 'de-CH'}} </td>
                        <td mat-footer-cell *matFooterCellDef><b>CHF {{order.total | number : '1.2-2' : 'de-CH'}}</b></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                </table>
            </mat-card-content>
            <mat-card-actions>
                <ng-container *ngIf="!finalOrder">
                    <button mat-flat-button color="primary" (click)="orderCheckoutPreview()">Bestellung abschicken</button>
                    <button mat-flat-button color="warn" (click)="cancelCheckoutPreview()">Bestellvorschau abbrechen</button>
                </ng-container>
                <button *ngIf="finalOrder" mat-flat-button color="primary" routerLink="/">Zurück zur Produkteübersicht</button>
            </mat-card-actions>
        </ng-container>
    </mat-card>
</div>