.products {
    display: flex;
    justify-content: stretch;
    margin: -5px;
    flex-wrap: wrap;

    mat-card {
        margin: 5px;
        flex-grow: 1;
        flex-shrink: 1;
        width: 500px;
        min-width: 400px;
    }
}

.add {
    z-index: 1;
    position: absolute;
    right: 25px;
    bottom: 25px;
}
